*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
.isi-navbar-pages {
    position: relative;
    text-decoration: none;
    font-family: 'Alkatra', cursive;
    font-weight: 800;
    color: rgb(255, 177, 74);
    font-size: 20px;
  }
  .isi-navbar-pages::after {
    content: '';
    position: absolute;
    background-color: #ff3c78;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
  }
  .isi-navbar-pages:hover {
    color: #ffd95a;
  }
  .isi-navbar-pages:hover::after {
    width: 100%;
  }
  .menu-pages{
    display: none;
    align-items: center;
    font-size: 35px;
    cursor: pointer;
    color: black;
  }
  
footer {
  text-align: center;

  background-color: #f0eb8d;
}
.text-footer {
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  padding: 50px;
}

.last-text-footer {
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  color: rgb(255, 145, 0);
  padding-top: 30px;
  font-weight: bold;
  text-transform: capitalize;
  padding: 60px;
}

.wrapper-footer {
  display: inline-flex;
  font-family: 'Poppins', sans-serif;
  padding: 40px;
}
.wrapper-footer .icon {
  margin: 0 20px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper-footer .icon .span-footer {
  display: block;
  height: 60px;
  width: 60px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper-footer .icon .span-footer #i-footer {
  line-height: 60px;
  font-size: 25px;
}
.wrapper-footer .icon .tooltip {
  position: absolute;
  top: 0;
  z-index: 1;
  background: #fff;
  color: #fff;
  padding: 10px 18px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 25px;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper-footer .icon:hover .tooltip {
  top: -70px;
  opacity: 1;
  pointer-events: auto;
}
.icon .tooltip:before {
  position: absolute;
  content: '';
  height: 15px;
  width: 15px;
  background: #fff;
  left: 50%;
  bottom: -6px;
  transform: translateX(-50%) rotate(45deg);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper-footer .icon:hover .span-footer {
  color: #fff;
}
.wrapper-footer .icon:hover .span-footer,
.wrapper-footer .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}
.wrapper-footer .facebook:hover .span-footer,
.wrapper-footer .facebook:hover .tooltip,
.wrapper-footer .facebook:hover .tooltip:before {
  background: #3b5999;
}
.wrapper-footer .twitter:hover .span-footer,
.wrapper-footer .twitter:hover .tooltip,
.wrapper-footer .twitter:hover .tooltip:before {
  background: #46c1f6;
}
.wrapper-footer .WhatsApp:hover .span-footer,
.wrapper-footer .WhatsApp:hover .tooltip,
.wrapper-footer .WhatsApp:hover .tooltip:before {
  background: #1be046;
}
.wrapper-footer .instagram:hover .span-footer,
.wrapper-footer .instagram:hover .tooltip,
.wrapper-footer .instagram:hover .tooltip:before {
  background: #e1306c;
}
.wrapper-footer .youtube:hover .span-footer,
.wrapper-footer .youtube:hover .tooltip,
.wrapper-footer .youtube:hover .tooltip:before {
  background: #de463b;
}
.img-guru-2,.img-pahlawan-2,.img-bukber-2{
  display: none;
}
.text-instagram{
  font-size: 22px;
  font-family: 'Poppins',sans-serif;
  text-transform: capitalize;
}
.fa-arrow-down{
  font-size: 22px;
  padding-top: 30px;
}

@media screen and (max-width:767px){
    .logo-nav-pages{
        width: 40px;
        height: 40px;
        border-radius: 100%;
    }
    .nav-pages{
        position: fixed;
        z-index: 100;
        width: 100%;
    }
  .navbar-pages{
        display: flex;
        align-items: center;
        padding: 15px;
        justify-content: space-between;
        background-color: #ffe194;
    }
    .isi-nav1-pages{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .isi-nav1-pages .judul-nav-pages{
        font-size: 20px;
        font-family: 'Alkatra',sans-serif;
        color: #f97b22;
    }
    .menu-pages{
        font-size: 22px;
        display: block;
        cursor: pointer;
        padding-right: 10px;
    }
    .li-nav-pages{
        list-style-type: none;
    }
    .isi-navbar-pages{
        text-decoration: none;
    }
    .nav-menu-pages {
        position: absolute;
        right: -100%;
        top: 70px;
        height: 100vh;
        flex-direction: column;
        text-align: center;
        /* transform: translateX(100%); */
        transition: 1.5s;
        width: 65%;
        transition: all 0.5s;
        text-align: center;
        background-color: #f5f0bb;
      }
      .li-nav-pages {
        padding: 55px 0;
        border: 2px solid white;
      }
      .li-nav-pages:active {
        background-color: #f6ffde;
      }
      .slide-pages{
        /* transform: translateX(0); */
        right: 0;
      }
     
      .foto-swiper{
        width: 100vw;
        padding-top: 70px;
        object-fit: cover;
      }
      .swiper .swiper-pagination-bullet{
        opacity: 1;
        background-color: white;
        width: 10px;
        height: 10px;
        
      }
      .swiper .swiper-pagination-bullet-active{
        background-color: #F29727;
      }
      .all-foto-guru,.all-foto-bukber{
        background-color: #FCFFB2;
        padding: 30px 0;
      }
      .isi-foto{
       display: block;
       justify-content: center;
       margin-left: auto;
       margin-right: auto;
       width: 350px;
        flex-direction: column;
      }
      .foto-murid-hari-guru,.foto-murid-hari-bukber{
        width: 350px;
        object-fit: contain;
        /* aspect-ratio: 3/2; */
        border-radius: 20px;
        margin: 10px 0;
      }
      .div-button-home{
        padding-top: 20px;
        display: flex;
        justify-content: center;
      }
      .button-home{
        
        background-color: white;
        color: black;
        
        border-radius: 10em;
        font-size: 17px;
        font-weight: 600;
        padding: 1em 2em;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        border: 1px solid black;
        box-shadow: 0 0 0 0 black;
      }
      
      .button-home:hover {
        transform: translateY(-4px) translateX(-2px);
        box-shadow: 2px 5px 0 0 black;
      }
      
      .button-home:active {
        transform: translateY(2px) translateX(1px);
        box-shadow: 0 0 0 0 black;
      }
      .isi-button-home{
        text-decoration: none;
        text-transform: capitalize;
        color: black;
      }
      
      
    
      .text-footer {
        font-size: 18px;
      }
      .wrapper-footer {
        flex-direction: column;
        gap: 50px;
        text-align: center;
      }
    
}
@media screen and (max-width:320px){
  .foto-murid-hari-guru,.foto-murid-hari-bukber{
    width: 280px;
  }
.isi-foto{
  width: 280px;
}
  .text-instagram{
    font-size: 19px;
  }
  .last-text-footer{
    font-size: 20px;
  }
}